<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Create New Chat</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>To start chatting fill chat name and add participants</h1>
            <form th:action="@{/chat/create}" method="post">
                <div class="form-group">
                    <label for="displayName">Chat title</label>:
                    <input type="text"
                           id="displayName"
                           name="displayName"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="title">
                </div>
                <div class="dropdown">
                    <label for="participants">Participants (at least one is required)</label>:
                    <input type="password"
                           id="participants"
                           name="participants"
                           class="form-control"
                           placeholder="start typing username">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   class="btn btn-primary"
                                   value="Create">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p><a href="/" th:href="@{/}">Back to home page</a></p>

</div>
</body>
</html>