h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.sidebar-nav {
    padding: 9px 0;
    margin-left: 80%;
    width: 30%;
}