<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Create User Profile</h1>
            <form action="#" th:action="@{/user/create}" th:object="${user}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        User already exists.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <td><input type="text"
                               th:field="*{username}"
                               id="username"
                               name="username"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="Username"></td>

                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <td><input type="password"
                               th:field="*{password}"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Password"></td>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   class="btn btn-primary"
                                   value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p><a href="/" th:href="@{/}">Back to home page</a></p>

</div>
</body>
</html>