<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title style="font-size: 12px;padding-bottom: 1em;" th:text="${loggedUser}"> Hello, </title>

</head>
<body>
<th:block th:replace="fragments/header :: header"/>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a dashboard!</h1>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>

    <div th:fragment="left">
        <div class="well sidebar-nav span3">
            <h4 class="nav-header">Direct messages</h4>
            <ul class="nav nav-list" th:each="user : ${users}">
                <li><a href="/" th:href="@{/}" th:text="${user.username}">Username</a></li>
            </ul>

            <h4 class="nav-header">Channels</h4>
            <ul class="nav nav-list" th:each="user : ${users}">
                <li><a href="/" th:href="@{/}" th:text="${user.username}">Username</a></li>
            </ul>
        </div>
    </div>


</div>

</body>
</html>

