<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h1>Hello Guest</h1>
        <p>You need to have a user profile to start chatting, please choose one of the following options: </p>
        <ul>
            <li><a href="/user" th:href="@{/login}">Log in to your profile</a></li>
            <li><a href="/user" th:href="@{/user/signup}">Create profile</a></li>
        </ul>

    </div>
</body>
</html>